//Основные цвета
$blackBlue: #2F80ED;
$lightBlue: #DEF3FE;
$lightGreen: #D1F2E1;
$opacityBlue: rgba(47, 128, 237, 0.5);

//Цвета статусов
$statusBlue: #2F80ED;
$statusRed: #EC483F;
$statusOrange: #F4A201;
$statusGreen: #09A619;

//login
$form-dark: #606060;
$form-grey: #D0D0D0;
$form-background: #fafafa;
$form-shadow:  6px 15px 25px rgba(151, 151, 151, 0.09);
$form-button-shadow: 6px 15px 25px rgba(85, 85, 85, 0.05);
$form-input-shadow: 6px 15px 25px rgba(151, 151, 151, 0.02);

//font-colors
$title: #4F4F4F;

//button
$buttonColor: #D1F2E1;
