@import "../../node_modules/modern-css-reset/dist/reset.min.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import "colors.scss";
@import "login.scss";
@import "layout";
@import "request.scss";
//font-family: 'PT Sans', sans-serif;
//font-family: 'Roboto', sans-serif;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #E5E5E5;
}

a, a:link, a:active {
  text-decoration: none;
  color: #5A636C;
}
